/* Параметры раздела */
#contact {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-card);
}

/* Заголовок */
#contact .main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;

    color: var(--color-text-light);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 4rem;
}

#contact .main span {
    color: var(--color-gold)
}

#contact .main p {
    text-align: center;
    padding-left: 55vh;
    padding-right: 55vh;
    padding-top: 10px;

    color: var(--color-text-gray);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Контент */
#contact-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    margin-top: 40px;
}

/* Форма */
#contact form {
    display: flex;
    flex-direction: column;
    justify-content:center;

    margin-right: 250px;
}


#contact form input, #msg, #contact form .btn {
    background-color: var(--color-bg-dark);
    border: none;
    outline: none;
    color: var(--color-text-gray);

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    width: 500px;
    height: 30px;
    padding: 15px;
    border-radius: 2.5px;

    margin: 15px;
}

/* поле с вопросами */
#contact form #msg {
    height: 180px;
    resize: none;
}

#contact form input:focus, #msg:focus {
    outline: 1px solid var(--color-gold);
}

/* кнопка -отправить заявку- */
#contact form .btn {
    text-decoration: none;
    background-color: var(--color-gold);
    color: black;
    text-align: center;
    line-height: 30px;
    font-size: 1.1rem;

    transition: background-color 0.5s ease;
}

#contact form .btn:hover {
    background-color: var(--color-gold-light);
}

/* Информация о нас (слева) */
/* позиционирование блоков */
#contact-info {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    margin-right: 400px;
}

#contact-info div {
    margin-top: 35px;
}

#contact-info p {
    margin-top: 10px;
}

/* оформление текста */
#contact-info h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 2rem;
}

#contact-info h4 {
    color: var(--color-text-light);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 1.3rem;
}

#contact-info p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* Иконки */
.contact-line {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}

.contact-icon {
    color: var(--color-gold);
    font-size: 1.2rem;
    margin-right: 15px;
    margin-top: 4px;
    flex-shrink: 0;
    width: 20px;
}

#contact-info .contact-line {
    margin-top: 25px;
}

#contact-info .contact-text p {
    margin-top: 5px;
}