/* Параметры раздела */
#footer {
    width: 100%;
    height: 40vh;
    background-color: var(--color-bg-dark);
}

#footer img {
    width: 30%;
}

/* цитата */
#footer #citation {
    float: right;
    width: 55%;

    margin: 90px;
}

#footer #citation p {
    color: var(--color-text-light);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 2.75rem;
}

#footer #citation .autor {
    color: var(--color-text-gray);
    font-size: 2.3rem;
    margin-top: 20px;
}
