/* Параметры раздела */
#hero {
    width: 100%;
    height: 100vh;
}

/* Заголовок */
#hero h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 350px;
    gap: 10px;

    color: var(--color-text-light);
    font-family: 'Cormorant Garamond',serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.45;
}

#hero span {
    color: var(--color-gold)
}

#hero p {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding-left: 50vh;
    padding-right: 50vh;
    padding-top: 10px;

    color: var(--color-text-gray);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.45;
}


/* Кнопка -вступить в клуб- */
.join-club-btn {
    background-color: var(--color-gold);
    width: 165px;
    height: 55px;
    float: left;
    border-radius: 1.5px;

    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 55px;
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    position: relative;
    left: 38%;
    top: 35px;

    transition: background-color 0.5s ease;
}

.join-club-btn:hover {
    background-color: var(--color-gold-light);
}


/* Кнопка -узнать больше- */
.find-more-btn {
    width: 165px;
    height: 55px;
    float: right;
    border-radius: 1.5px;
    border: 1px solid rgba(70, 66, 66, 0.74);

    color: var(--color-text-light);
    text-decoration: none;
    line-height: 55px;
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    position: relative;
    right: 38%;
    top: 35px;

    transition: border-color 0.5s ease, color 0.5s ease;
}

.find-more-btn:hover {
    border-color: var(--color-gold);
    color: var(--color-gold);
}