/* Параметры раздела */
#trainers {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-card);
}


/* Заголовок */
#trainers .main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;

    color: var(--color-text-light);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 4rem;
}

#trainers .main span {
    color: var(--color-gold)
}


#trainers .main p {
    text-align: center;
    padding-left: 55vh;
    padding-right: 55vh;
    padding-top: 10px;

    color: var(--color-text-gray);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Выравнивание блоков по горизонли и вертикале */
.trainers-blc {
    display: flex;
    justify-content: center;

    align-items: baseline;
    margin-top: 11.5vh;

    width: 100%;
    height: 80vh;
}

.Geracl-blc, .Apolon-blc, .Afina-blc, .Germes-blc {
    width: 20%;
    float: left;
    text-align: center;
    margin-right: 40px;

    display: grid;
    place-items: center;
}

/* Текстовые стили */
.trainers-blc h3 {
    color: var(--color-text-light);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.trainers-blc .speciality {
    color: var(--color-gold);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: italic;

    display: block;
    margin-bottom: 15px;
}

.trainers-blc p {
    color: var(--color-text-gray);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
}

/* Работа с фотками тренеров */
.trainers-blc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

#trainers .container {
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid rgb(77, 72, 72);
    margin-bottom: 25px;

    display: grid;
    place-items: center;
    overflow: hidden;
}